name: coverage

on: ["push", "pull_request"]

jobs:
  build:
    runs-on: 'ubuntu-latest'
    name: Coverage
    container:
      image: perl:stable
    steps:
      - uses: actions/checkout@v4
      - name: Install cpm
        run: curl -fsSL --compressed https://git.io/cpm > cpm; chmod +x cpm
      - name: Install Dependencies
        run: ./cpm install -g
      - name: Install Devel::Cover
        run: ./cpm install -g App::Yath Devel::Cover Devel::Cover::Report::Coveralls
      - name: Run tests (with coverage)
        run: PERL5OPT=-MDevel::Cover="-ignore,^web/cgi-bin/yatt.lib/t/,-ignore,^/usr" yath test --qvf web/cgi-bin/yatt.lib/t
      - name: push coverage report
        run: cover -report coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
